@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 20%;
}

.circle {
    border-radius: 50%;
}

header {
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
}